<!--home-->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enigma Score</title>

    <link rel="icon" type="image/png" href="{% static 'images/logo_2.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'images/logo_2.png' %}" alt="Логотип" class="logo-img">
                    </a>
                </div>
                <div class="nav-center">
                    <a href="#home">Главная</a>
                    <a href="#about">О нас</a>
                    <a href="#howorks">Как это работает</a>
                </div>
                <div class="nav-right">
                    <a href="{% url 'users:register' %}">Регистрация</a>
                    <a href="{% url 'users:login' %}">Вход</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section id="home" class="hero">
            <div class="container">
                <h1>Enigma Score</h1>
                <p>Интеллектуальный скоринг для<br>умного кредитования</p>
            </div>
        </section>
        <section id="about" class="description">
            <div class="container">
                <div class="desc-frame">
                    <div class="content-wrapper">
                        <div class="desc-text">
                            <p class="lead-paragraph">
                                EnigmaScore — это современный сервис кредитного скоринга на основе машинного обучения.
                                Мы помогаем заёмщикам получить объективную и быструю оценку своей платёжеспособности
                                без долгих ожиданий и человеческого фактора.
                            </p>
                            <p class="highlight-paragraph">
                                Мы используем современные алгоритмы машинного обучения, обученные на больших массивах данных.
                            </p>
                        </div>
                        <div class="img-frame">
                            <img src="https://avatars.mds.yandex.net/i?id=118516a7663c7f44d89b6b9960e20c05_l-8254804-images-thumbs&n=13" class="imagef">
                        </div>
                        
                    </div>
                    <br>
                    <a href="{% url 'users:register' %}" class="btn btn-primary">Попробовать бесплатно →</a>
                </div>
            </div>
        </section>
        <section id="howorks" class="steps-section">
            <div class="container">
                <h2 class="section-title">Текущая статистика</h2>
                <div class="steps-grid">
                    <div class="step-card">
                        <div class="step-circle1">
                            <img src="{% static 'images/icon-1.png' %}" alt="Иконка регистрации">
                        </div>
                        <h3>Зарегистрированных пользователей: {{ total_users }}</h3>
                        <p>Присоединяйся к удобному сервису!</p>
                    </div>
                    
                    <div class="step-card">
                        <div class="step-circle2">
                            <img src="{% static 'images/icon-2.png' %}" alt="Иконка добавления документов">
                        </div>
                        <h3>Количество поданных заявок: {{ total_applications }}</h3>
                        <p>Попробуй свою удачу!</p>
                    </div>
                    
                    <div class="step-card">
                        <div class="step-circle1">
                            <img src="{% static 'images/icon-3.png' %}" alt="Иконка получения результата">
                        </div>
                        <h3>Количество одобренных заявок: {{ approved_applications }}</h3>
                        <p>Сможешь ли ты получить кредит?</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2026 Enigma Score</p>
        </div>
    </footer>
</body>
</html>