
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Письмо отправлено</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo_2.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'images/logo_2.png' %}" alt="Логотип" class="logo-img">
                    </a>
                </div>
                <div class="nav-center">
                    <a href="/">Главная</a>
                    <a href="#about">О нас</a>
                    <a href="#howorks">Как это работает</a>
                </div>
                <div class="nav-right">
                    <a href="{% url 'users:register' %}">Регистрация</a>
                    <a href="{% url 'users:login' %}">Вход</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="form-card">
                <h2 class="reglog-text">Письмо отправлено!</h2>
                <h3 style="text-align: center;">
                    Если такой email существует в нашей системе, мы отправили на него ссылку для сброса пароля.
                    Проверьте почту (и папку "Спам").
                </h3>
                
                <div style="text-align: center; margin-top: 30px;">
                    <a href="{% url 'users:login' %}" class="btn-primary">Вернуться к входу</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2026 Enigma Score</p>
        </div>
    </footer>
</body>
</html>
