
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo_2.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'images/logo_2.png' %}" alt="Логотип" class="logo-img">
                    </a>
                </div>
                <div class="nav-center">
                    <a href="/">Главная</a>
                    <a href="#about">О нас</a>
                    <a href="#howorks">Как это работает</a>
                </div>
                <div class="nav-right">
                    <a href="{% url 'users:register' %}">Регистрация</a>
                    <a href="{% url 'users:login' %}">Вход</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="form-card">
                {% if validlink %}
                    <h2 class="reglog-text">Придумайте новый пароль</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="btn-primary" style="font-size: 16px;">Сохранить новый пароль</button>
                    </form>
                {% else %}
                    <h2 class="reglog-text">Ссылка недействительна</h2>
                    <p>Ссылка для сброса пароля устарела или уже была использована.</p>
                    <div style="text-align: center; margin-top: 30px;">
                        <a href="{% url 'users:password_reset' %}" class="btn-primary">Запросить новую ссылку</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2026 Enigma Score</p>
        </div>
    </footer>

    <script>
        document.querySelectorAll('form input, form textarea, form select').forEach(field => {
            field.classList.add('form-control');
        });
    </script>
</body>
</html>
